# Handling and removing duplicates values

In [1]:
# importing required packages
import pandas as pd

In [3]:
# accessing dataset using pandas library
df=pd.read_csv("Dataset.csv")
df.head()#displaying first 5 row of dataset

,Unnamed: 0,Name,Sex,Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
1,327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
2,440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
3,937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
4,137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution

In [6]:
# Checking for duplicates values in whole dataset
sum(df.duplicated())# gives total number of duplicate values in dataset

0

In [7]:
# Checking for duplicates values column wise
sum(df['Name'].duplicated())# gives total number of duplicate values in first column

799

## Removing duplicates

In [10]:
# removing duplicate values using drop_duplicates()
df['Name'].drop_duplicates(inplace=True)# inplace is True for permenant change in dataset

In [11]:
# Again Checking for duplicates values column wise
sum(df['Name'].duplicated())# gives total number of duplicate values in first column

0